In [6]:
import pandas as pd
import re

In [7]:
df = pd.read_csv('data/df_cleaned_20250617.csv')

print("Preprocessing dataset...")
df['latitude'] = df['center_latlon'].apply(lambda x: str(x.split(', ')[0]))
df['longitude'] = df['center_latlon'].apply(lambda x: str(x.split(', ')[1]))
df['latitude'] = df['latitude'].apply(lambda x: float(re.search(r'\d+.\d+', x).group()))
df['longitude'] = df['longitude'].apply(lambda x: float(re.search(r'\-\d+.\d+', x).group()))
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['timestamp'] = (df['timestamp'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

# Separate training data
df_training = df.dropna(subset=['ground_truth'])
df_test = df[df['ground_truth'].isna()]

Preprocessing dataset...

In [17]:
df_training.head()

,timestamp,bboxid,GEOID,geometry_bbox,center_latlon,max,min,precipitation,total_population,white_ratio,black_ratio,hh_median_income,ground_truth,latitude,longitude
313,1478649600,bbox_10_14,60750604002,POLYGON ((-122.4862707014277 37.71914041535512...,"(37.71986168151697, -122.48535268128838)",73.0,58.0,0.0,506,0.806324,0.000000,53438.0,0.0,37.719862,-122.485353
314,1478736000,bbox_10_14,60750604002,POLYGON ((-122.4862707014277 37.71914041535512...,"(37.71986168151697, -122.48535268128838)",74.0,60.0,0.0,506,0.806324,0.000000,53438.0,0.0,37.719862,-122.485353
2141,1478736000,bbox_10_15,60750332043,POLYGON ((-122.48444469610592 37.7191324443233...,"(37.71985369613769, -122.4835266585265)",74.0,60.0,0.0,1852,0.266199,0.075054,77813.0,0.0,37.719854,-122.483527
3967,1478649600,bbox_10_16,60750332043,POLYGON ((-122.48261869150517 37.7191244450116...,"(37.719845682477825, -122.48170063648698)",73.0,58.0,0.0,1852,0.266199,0.075054,77813.0,0.0,37.719846,-122.481701
3968,1478736000,bbox_10_16,60750332043,POLYGON ((-122.48261869150517 37.7191244450116...,"(37.719845682477825, -122.48170063648698)",74.0,60.0,0.0,1852,0.266199,0.075054,77813.0,0.0,37.719846,-122.481701

In [14]:
df_test.shape

(13189054, 15)

In [15]:
df_training.shape

(271992, 15)

In [16]:
df_training['ground_truth'].value_counts()

ground_truth
1.0     178818
0.0      43809
2.0      33816
3.0       9903
4.0       3442
5.0       1252
6.0        524
7.0        233
8.0         96
9.0         50
10.0        26
11.0         9
12.0         7
13.0         5
15.0         2
Name: count, dtype: int64

In [10]:
df_test.head()

,timestamp,bboxid,GEOID,geometry_bbox,center_latlon,max,min,precipitation,total_population,white_ratio,black_ratio,hh_median_income,ground_truth,latitude,longitude
0,1451606400,bbox_10_14,60750604002,POLYGON ((-122.4862707014277 37.71914041535512...,"(37.71986168151697, -122.48535268128838)",50.0,40.0,0.00,506,0.806324,0.0,53438.0,NaN,37.719862,-122.485353
1,1451692800,bbox_10_14,60750604002,POLYGON ((-122.4862707014277 37.71914041535512...,"(37.71986168151697, -122.48535268128838)",51.0,45.0,0.00,506,0.806324,0.0,53438.0,NaN,37.719862,-122.485353
2,1451779200,bbox_10_14,60750604002,POLYGON ((-122.4862707014277 37.71914041535512...,"(37.71986168151697, -122.48535268128838)",55.0,46.0,0.02,506,0.806324,0.0,53438.0,NaN,37.719862,-122.485353
3,1451865600,bbox_10_14,60750604002,POLYGON ((-122.4862707014277 37.71914041535512...,"(37.71986168151697, -122.48535268128838)",57.0,47.0,0.09,506,0.806324,0.0,53438.0,NaN,37.719862,-122.485353
4,1451952000,bbox_10_14,60750604002,POLYGON ((-122.4862707014277 37.71914041535512...,"(37.71986168151697, -122.48535268128838)",54.0,50.0,1.18,506,0.806324,0.0,53438.0,NaN,37.719862,-122.485353

In [13]:
# Check for missing values in df_test except 'ground_truth'
missing_values = df_test.drop(columns=['ground_truth']).isnull().sum()
print("Missing values in df_test:", missing_values)

Missing values in df_test: timestamp           0
bboxid              0
GEOID               0
geometry_bbox       0
center_latlon       0
max                 0
min                 0
precipitation       0
total_population    0
white_ratio         0
black_ratio         0
hh_median_income    0
latitude            0
longitude           0
dtype: int64